@import "tailwindcss";

:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7A5742;
  background: #FAF9F7;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background: #FAF9F7;
}

#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

button,
a {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}